<!DOCTYPE html>
<html>
<!--text/html-->
<head>
<meta content="application/vnd.ms-excel; charset=utf-8" http-equiv="Content-Type">
<title>F43121</title>
</head>
<body>
<style> 
.showdata{width:1200px;border:2px solid blue;} 
.showdata caption{border:2px solid blue;font-size: 16px;height:auto;}
.showdata th{border:1px solid blue;font-size: 16px;height:auto;}/*vertical-align: middle;*/
.showdata td{
	font: bold 100% serif;
	border: 1px solid blue;
	background: #FFCCFF;
	font-size: 16px;} 
         
.auto-style1 {
	font-weight: bold;
}
         
.auto-style2 {
	font-weight: bold;
	font-size: 16px;
	color: #0000AA;
}
         
</style> 

<header>
<form id="shopdata"  runat="server"  method="get"  >
<script>
function exportExcel(){
  //var html = '&lt;meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8" />&lt;title>Excel&lt;/title>';
  var html = '';
  html += document.getElementById('schdata').outerHTML + '';
  window.open('data:application/vnd.ms-excel,' + encodeURIComponent(html));
}
function ShowDialog(url) {
var tests=window.open(url,"Detail","height=500,width=550,left=150,top=50"); }

function getcbox(ck){

   var form = document.getElementById("shopdata"); 
   for(var i=0; i<form.length;i++){
     //alert(form[i].id.substring(0,2))
     if (form[i].id.substring(0,2)=="ck") {
       if (form[i].id!=ck){
         form[i].checked=false;}
       }
     }
   
   }  
  
</script type="text/javascript" src="http://code.jquery.com/jquery-latest.js">
<p style="width: 800px; height: 20px;"><label class="auto-style2">拉亞門市<label class="auto-style1">
<select id="shop0" name="shop01" style="font-size:16px; width: 235px; "> <!--onChange="serchsdata('0')-->
       <option value="" ></option>
        {% for a in shop0%}
        {% if a == shop01%}
          <option value="{{a}}" selected>{{a}}</option>
        {% else %}
          <option value="{{a}}" >{{a}}</option>
        {% endif %}
        {% endfor %}
    </select></label></label>
          
    <!--label  style="font-weight:bold;font-size:16px;color:#0099FF"-->
	<!--input name="compno" id="com1" style="width: 135px;font-size:16px" type="text" value="{{compno}}"--><strong>
	<!--input name="Button2" type="button" value="搜尋地址號" onclick="ShowDialog('company.html')" class="auto-style1"--></strong>&nbsp;
<label  style="font-weight:bold;font-size:16px;color:#CC0000">
{% if ck == 'ck1' %}
<input id="ck1" name="Checkbox1" type="checkbox" checked=""  style="font-size:16px"  onclick="getcbox('ck1')">
{% else %}
<input id="ck1" name="Checkbox1" type="checkbox"  style="font-size:16px"  onclick="getcbox('ck1')">
{% endif %}
<label id="Label1">銷售金額</label>
{% if ck == 'ck2' %}
<input id="ck2" name="Checkbox2" type="checkbox" checked="" style="font-size:16px" onclick="getcbox('ck2')">
{% else %}
<input id="ck2" name="Checkbox2" type="checkbox"  style="font-size:16px" onclick="getcbox('ck2')">
{% endif %}
<label  style="font-weight:bold;font-size:16px;color:#CC0000">銷售數量</label>
<!--
{% if ck == 'ck3' %}
<input id="ck3" name="Checkbox3" type="checkbox" checked="" style="font-size:16px" onclick="getcbox('ck3')">
{% else %}
<input id="ck3" name="Checkbox3" type="checkbox"  style="font-size:16px" onclick="getcbox('ck3')">
{% endif %}
<label  style="font-weight:bold;font-size:16px;color:#CC0000">類別數量佔比</label> -->
    <label  style="font-weight:bold;font-size:16px;color:#0099FF">{{dept}}</label></label>
</p>
    <!--input name="2EXCEL" type="submit" style="font-size:16px;color:#0000AA" value="匯出EXCEL" ><-->
	<p style="width: 800px; height: 20px;">
	&nbsp;<label style="font-weight:bold;font-size:16px;color:#0000AA">查詢日期</label>
	<!--img src="/image/emp.bmp" width="44" height="46" /><span-->&nbsp;&nbsp; &nbsp;
	<input id="ISdate" type="date" name="Sday" style="font-size:16px"  value={{Sday}}>&nbsp;	
	<label  style="font-weight:bold;font-size:16px;color:#0000AA"> 至 </label>
    <input id="IEdate" type="date" name="Eday" style="font-size:16px"  value={{Eday}}>&nbsp;
<input name="Submit1" type="submit" style="font-size:16px;color:#0000AA" value="確定" >
<label id="msl1" style="font-size:16px;color:#0099FF">{{mess}}</label></p>

</form>
</header>
<form method="post">
	<!--input name="Button1" type="button" style="background-color:aquamarine;font-size:16px;color:crimson" value="匯出excel" onclick="exportExcel()"-->
	<a href="MEDIA/{{efilename}}" download="{{efilename}}">EXCEL下載</a></form>
<table id="schdata" class="showdata">
<!--thead style="display:block;"-->
<caption>{{reportmes|safe}}</caption>
<tr>            
            {% for t in title%}            
            <!--th style="width:100px;">{{t}}</th-->
            {{t|safe}}
            {% endfor %}
            
            </tr>   
     <!--/thead>
    <tbody style="height:500px;overflow:auto;display:block"-->         
            {% for r in sdata%}
                <tr>{% for l in r %}                    
                    {{l|safe}}
                   {% endfor %}                   
                </tr>
            {% endfor %}
<!--/tbody-->
</table>
</body>

</html>
