<!DOCTYPE html>
<html>
<head>
<title>adduser</title>
</head>
<style>
</style>
<body>
<span style="font-family:DFKai-sb;font-size: 16px;">員工編號:</span>
	    <input align="center" name="userID"type="text" style="width: 100px;font-size: 16px;" />
    
    <span style="font-family:DFKai-sb;font-size: 16px;">員工姓名:</span>
	<input align="center" name="userName"type="text" style="width: 100px;font-size: 16px;" />

    <span style="font-family:DFKai-sb;font-size: 16px;">預設密碼:</span>
	<input align="center" name="userID" type="text" style="width: 100px;font-size: 16px;" />

    <span style="font-family:DFKai-sb;font-size: 16px;">選擇權限:</span>
    <select align="center" name="userLevel" width = "104px" font-size = "16px" style="width: 104px;font-size: 16px;">
    <option>1</option>
    <option>2</option>
    </select>


</body>

</html>
