<!DOCTYPE html>
<html>
<!--text/html-->
<head>
<meta content="application/vnd.ms-excel; charset=utf-8" http-equiv="Content-Type">
<title>ReceivableItem</title>
</head>
<body>
<style> 
.showdata{width:1350px;border:2px solid blue;} 
.showdata caption{border:2px solid blue;font-size: 16px;height:auto;}
.showdata th{border:1px solid blue;font-size: 16px;height:auto;}/*vertical-align: middle;*/
.showdata td{
	font: bold 100% serif;
	border: 1px solid blue;
	background: #FFCCFF;
	font-size: 16px;text-align:center} 
         
</style> 

<header>
<form id="form1"  runat="server"  method="get"  >
<script>
function exportExcel(){
  //var html = '&lt;meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8" />&lt;title>Excel&lt;/title>';
  var html = '';
  html += document.getElementById('schdata').outerHTML + '';
  window.open('data:application/vnd.ms-excel,' + encodeURIComponent(html));
}
function getcbox1(){
   var ck1=form1.Checkbox1;
   var ck2=form1.Checkbox2;
   if (ck1.checked)  {
    ck2.checked=false;}
   else { ck2.checked=true;}
   }
function getcbox2(){
   var ck1=form1.Checkbox1;
   var ck2=form1.Checkbox2;
   if (ck2.checked)  {
    ck1.checked=false;}
   else { ck1.checked=true;}
   }

</script type="text/javascript" src="http://code.jquery.com/jquery-latest.js">
<p style="width: 800px; height: 20px;"><label  style="font-weight:bold;font-size:16px;color:#0000AA">
客戶地址號</label>
          
    <!--label  style="font-weight:bold;font-size:16px;color:#0099FF"-->
	<input name="custno" style="width: 135px;font-size:16px" type="text" value="{{custno}}" >&nbsp;
<!--
<label  style="font-weight:bold;font-size:16px;color:#CC0000">
{% if ck == 'ck1' %}
<input id="ck1" name="Checkbox1" type="checkbox" checked=""  style="font-size:16px"  onclick="getcbox1()">
{% else %}
<input id="ck1" name="Checkbox1" type="checkbox"  style="font-size:16px"  onclick="getcbox1()">
{% endif %}
<label id="Label1">進貨總金額</label>
{% if ck == 'ck2' %}
<input id="ck2" name="Checkbox2" type="checkbox" checked="" style="font-size:16px" onclick="getcbox2()">
{% else %}
<input id="ck2" name="Checkbox2" type="checkbox"  style="font-size:16px" onclick="getcbox2()">
{% endif %} 
<label  style="font-weight:bold;font-size:16px;color:#CC0000">商品總金額</label>{{acct}}.{{subacct}}</label>
    <label  style="font-weight:bold;font-size:16px;color:#0099FF">{{dept}}</label>-->
<!--label  style="font-weight:bold;font-size:16px;color:#0000AA">料號(起)</label>  
	<input name="sitm" style="width: 135px;font-size:16px" type="text" value="{{sitm}}" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<label  style="font-weight:bold;font-size:24px;color:#CC0000">~</label> &nbsp;&nbsp;&nbsp;&nbsp; 
	<label  style="font-weight:bold;font-size:16px;color:#0000AA">料號(迄)</label> 
	<input name="eitm" style="width: 135px;font-size:16px" type="text" value="{{eitm}}" -->
<!--
<label  style="font-weight:bold;font-size:16px;color:#CC0000">
{% if ck == 'ck1' %}
<input id="ck1" name="Checkbox1" type="checkbox" checked=""  style="font-size:16px"  onclick="getcbox1()">
{% else %}
<input id="ck1" name="Checkbox1" type="checkbox"  style="font-size:16px"  onclick="getcbox1()">
{% endif %}
<label id="Label1">進貨總金額</label>
{% if ck == 'ck2' %}
<input id="ck2" name="Checkbox2" type="checkbox" checked="" style="font-size:16px" onclick="getcbox2()">
{% else %}
<input id="ck2" name="Checkbox2" type="checkbox"  style="font-size:16px" onclick="getcbox2()">
{% endif %} 
<label  style="font-weight:bold;font-size:16px;color:#CC0000">商品總金額</label>{{acct}}.{{subacct}}</label>
    <label  style="font-weight:bold;font-size:16px;color:#0099FF">{{dept}}</label>--></p>
    <!--input name="2EXCEL" type="submit" style="font-size:16px;color:#0000AA" value="匯出EXCEL" ><-->
	<p style="width: 800px; height: 20px;">
	&nbsp;<label style="font-weight:bold;font-size:16px;color:#0000AA">查詢日期</label>
	<!--img src="/image/emp.bmp" width="44" height="46" /><span-->&nbsp;&nbsp; &nbsp;
	<input id="ISdate" type="date" name="Sday" style="font-size:16px"  value={{Sday}}>&nbsp;	
	<label  style="font-weight:bold;font-size:16px;color:#0000AA"> 至 </label>
    <input id="IEdate" type="date" name="Eday" style="font-size:16px"  value={{Eday}}>&nbsp;
<input name="Submit1" type="submit" style="font-size:16px;color:#0000AA" value="確定" >
<label id="msl1" style="font-size:16px;color:#0099FF">{{mess}}</label></p>

</form>
</header>
<form method="post">
	<input name="Button1" type="button" style="background-color:aquamarine;font-size:16px;color:crimson" value="匯出excel" onclick="exportExcel()"></form>
<table id="schdata" class="showdata">
<!--thead style="display:block;"-->
<caption>{{reportmes|safe}}</caption>
<tr>            
            {% for t in title%}            
            <!--th style="width:100px;">{{t}}</th-->
            {{t|safe}}
            {% endfor %}
            
            </tr>   
     <!--/thead>
    <tbody style="height:500px;overflow:auto;display:block"-->         
            {% for r in ReItem%}
                <tr>{% for l in r %}                    
                    {{l|safe}}
                   {% endfor %}                   
                </tr>
            {% endfor %}
<!--/tbody-->
</table>
</body>

</html>
