<!DOCTYPE html>
<html>

<head>
<meta content="zh-tw" http-equiv="Content-Language">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>first</title>
</head>

<body>

<button name="Abutton1">button</button>
<form method="get">
	<table><tr>
<td style="width: 70px" ><input type="image"  height="50" src="/image/Tinos.jpg" width="100"  ></td>
</table>

</form>
&nbsp;<p style="width: 108px"><img height="100" src="/image/TM-T82II.jpg" width="100"></p>

<label id="Label1"></label>
</body>

</html>
